body {
	overflow: hidden;
	overflow-x: hidden;
}
.bottom-sheet-container {
	position: fixed;
	width: 100%;
	max-width: 375px;
	background: white;
	transition: all 0.3s ease;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	z-index: 1000;
}

/* 바텀시트 스타일 */
.bottom-sheet {
	height: 100%;
	border-radius: 20px 20px 0 0;
	box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
}

.stage-1 {
	min-height: 200px;
}

.stage-3 {
	max-height: 767px;
	border-radius: 0;
}

/* 컨텐츠 스타일 */
.content {
	padding: 0 16px;
	display: flex;
	gap: 6px;
}

.header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}

.text-group {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
	padding: 0 0 26px 0;
}

.state {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 14px;
	color: #6c757d;
}

.text-title {
	display: flex;
	align-items: center;
	gap: 4px;
}

.title {
	color: var(--txt-fill-primary, #006cff);
	/* kr/title/20/medium */
	font-family: "Noto Sans KR";
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -1.2px;
}

.subtitle {
	color: var(--txt-fill-cool-tertiary, #6b7c92);

	/* kr/title/14/regular */
	font-family: "Noto Sans KR";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.thumbnail {
	position: relative;
	display: inline-block;
}

.image-count-style {
	position: absolute;
	top: 95px;
	right: 20px;
}
.thumbnail .image {
	width: 20px;
	height: 20px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 4px;
	bottom: 4px;
}
.icon-getoff .icon svg {
	fill: #0385ff; /* 출발 아이콘 파란색 */
}

.bold-style {
	color: #484848;
	font-family: Pretendard;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.reviews {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 14px;
}

.black-style {
	color: var(--txt-fill-warm-secondary, #373737);

	/* kr/body/14/regular */
	font-family: "Noto Sans KR";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.location {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 12px;
	color: #6c757d;
}

.buttons {
	border-top: 1px solid var(--btn-stroke-cool-primary, #e5eaf1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1 0 0;
	padding: 8px 16px;
}

.icons {
	display: flex;
	align-items: center;
	width: 69px;
	justify-content: space-between;
	align-items: center;
}

.bottom-sheet.stage-1 .button-active-style {
	display: flex;
	gap: 6px;
	justify-content: space-between;
	margin-top: 10px;
}

.bottom-sheet.stage-3 .title {
	color: var(--txt-fill-warm-primary, #222225);

	/* kr/title/20/medium */
	font-family: "Noto Sans KR";
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -1.2px;
}

.bottom-sheet.stage-3 .button-active-style {
	display: flex;
	padding: 20px 90px;
	align-items: center;
	align-self: stretch;
	width: 100%;
	gap: 6px;
}
