.circle-btn {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: var(--btn-fill-white, #fff);
  border-radius: 50%;
  border: 1px solid var(--btn-stroke-cool-primary, #e5eaf1);
  cursor: pointer;
  position: relative;
}

.circle-btn:active {
  background-color: var(--btn-fill-cool-primary_pressed, #dadde6);
  border: 1px solid var(--btn-stroke-cool-primary, #e5eaf1);
}

.circle-btn.s {
  width: 24px;
  height: 24px;
}

.circle-btn.m {
  width: 30px;
  height: 30px;
}

.circle-btn.l {
  width: 36px;
  height: 36px;
}

/* 아이콘 크기 지정 */
.circle-btn.s .icon {
  width: 10px;
  height: 10px;
}

.circle-btn.m .icon {
  width: 20px;
  height: 20px;
}

.circle-btn.l .icon {
  width: 12px;
  height: 12px;
}

/* 아이콘 강제 중앙 정렬 */
.circle-btn .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
