.map-icon {
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
}

.star-marker-size.R {
  width: 18px;
  height: 18px;
}

.star-marker-size.M {
  width: 22px;
  height: 22px;
}

.star-marker-size.L {
  width: 32px;
  height: 32px;
}

.star-marker-size svg {
  width: 100%;
  height: 100%;
}

.spot {
  position: relative;
  display: inline-flex;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #fff;

  /* kr/caption/10/regular */
  font-family: 'Noto Sans KR';
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  z-index: 9999;
}
