.cta-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 160px;
  flex-shrink: 0;
  border-radius: 160px;
  box-sizing: border-box;
}

.cta-btn.s {
  display: flex;
  width: 62px;
  height: 32px;
  padding: 8px 22px;
  justify-content: center;
  align-items: center;
}

.cta-btn.s .text-style {
  color: #fff;

  /* kr/title/14/regular */
  font-family: 'Noto Sans KR';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  white-space: nowrap;
}

.cta-btn.s.secondary .text-style {
  color: var(--txt-fill-primary, #006cff);

  /* kr/title/14/regular */
  font-family: 'Noto Sans KR';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  white-space: nowrap;
}

.cta-btn.primary.active {
  background: var(--btn-fill-primary_pressed, #244287);
}

.cta-btn.secondary.active {
  border: 1px solid var(--btn-stroke-primary, #006cff);
  background: var(--btn-fill-cool-primary_pressed, #dadde6);
}

.cta-btn.tertiary.active {
  border: 1px solid var(--btn-stroke-cool-secondary, #cad1db);
  background: var(--btn-fill-cool-primary_pressed, #dadde6);
}

.cta-btn.m {
  padding: 8px 10px 8px 14px;
  gap: 2px;
}

.cta-btn.r {
  padding: 8px 22px;
  gap: 6px;
}

.cta-btn.primary {
  background: var(--btn-fill-primary, #006cff);
  border: none;
  color: #fff;
  font-family: 'Noto Sans KR';
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.cta-btn.secondary {
  border: 1px solid var(--btn-stroke-primary, #006cff);
  background: var(--btn-fill-white, #fff);
}

.cta-btn.tertiary {
  border: 1px solid var(--btn-stroke-cool-secondary, #cad1db);
  background: var(--btn-fill-white, #fff);
}

.cta-btn.m.primary {
  font-weight: 500; /* Medium */
}

.cta-btn.r.primary {
  font-weight: 400; /* Regular */
}

.cta-btn .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.cta-btn.m.primary .icon {
  width: 16px;
  height: 16px;
}
