.cta-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 160px;
  flex-shrink: 0;
  border-radius: 160px;
  box-sizing: border-box;
}

.cta-btn.m {
  padding: 8px 10px 8px 14px;
  gap: 2px;
}

.cta-btn.r {
  padding: 8px 22px;
  gap: 6px;
}

.cta-btn.primary {
  background: var(--btn-fill-primary, #006cff);
  border: none;
  color: #fff;
  font-family: 'Noto Sans KR';
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.cta-btn.secondary {
  border: 1px solid var(--btn-stroke-primary, #006cff);
  background: var(--btn-fill-white, #fff);
}

.cta-btn.tertiary {
  border: 1px solid var(--btn-stroke-cool-secondary, #cad1db);
  background: var(--btn-fill-white, #fff);
}

.cta-btn.m.primary {
  font-weight: 500; /* Medium */
}

.cta-btn.r.primary {
  font-weight: 400; /* Regular */
}

.cta-btn .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}

.cta-btn.m.primary .icon {
  width: 16px;
  height: 16px;
}
