.list-radio {
  position: relative;

  width: 300px;
  display: flex;
  align-items: center;
  padding: 18px 24px;
  cursor: pointer;
  gap: 10px;

  background: var(--bg-fill-white, #fff);
}

.list-radio.active {
  color: var(--txt-fill-primary, #006cff);
}

.list-radio.active .title {
  color: var(--txt-fill-primary, #006cff);
}

.title.s {
  font-size: 14px;
}

.text-container {
  display: flex;
  max-width: 212px;
  flex-direction: column;
  gap: 4px;

  font-family: 'Noto Sans KR';
  font-style: normal;
}

.title {
  color: var(--txt-fill-warm-secondary, #373737);

  /* kr/title/16/medium */
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.16px;
}

.subText {
  font-size: 14px;
  color: var(--txt-fill-warm-quaternary, #939396);

  /* kr/body/13/regular */
  font-size: 13px;
  font-weight: 400;
  line-height: 110%; /* 14.3px */
}

.icon-container {
  display: flex;
  width: 24px !import;
  height: 24px!import;
  min-width: 24px;
  min-height: 24px;

  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
}

.icon-svg {
  width: 100%;
  height: 100%;
  max-width: 24px;
  max-height: 24px;
  flex-shrink: 0;
}
