.modal-container {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-shrink: 0;

  display: flex;
  width: 300px;
  align-items: center;

  border-radius: 4px;
  background: #fff;
}

.modal-title {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  padding: 18px 12px 0px 22px;
}

.modal-options {
  display: flex;
  padding: 18px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.btn-footer {
  display: flex;
  justify-content: flex-end;
  height: 55px;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  right: 0px;
}
