.street-thumb {
  width: 296px;
  height: 130px;
  flex-shrink: 0;
  position: relative; /* 아이콘 고정 위치를 위한 설정 */
  background: #8e8e8e;
}

.icon {
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: 24px;
  height: 24px;
}

.bottom-text {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%); /* 글자 가운데 부모의 정확한 중앙에 맞춤 */
  color: var(--txt-fill-white, #fff);

  /* kr/body/13/medium */
  font-family: 'Noto Sans KR';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.78px;
}
