.a-style {
  color: var(--txt-fill-warm-quaternary, #939396);

  /* kr/title/16/regular */
  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.a-style.active {
  color: var(--txt-fill-warm-primary, #222225);

  display: inline-block;
  border-bottom: 2px solid #222225;
  padding-bottom: 12px;

  font-weight: 600;
}

.b-style {
  color: var(--txt-fill-warm-quaternary, #939396);

  /* kr/body/14/semibold */
  font-family: 'Noto Sans KR';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  gap: 12px;
}

.b-style.active {
  color: var(--txt-fill-warm-primary, #222225);

  display: inline-block;
  border-bottom: 2px solid #222225;
  padding-bottom: 12px;
}

.c-style {
  gap: 13px;

  color: var(--txt-fill-warm-tertiary, #656565);

  /* kr/title/16/semibold */
  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.c-style.active {
  color: var(--txt-fill-secondary, #437bfe);

  display: inline-block;
  border-bottom: 2px solid #437bfe;
  padding-bottom: 13px;
}

.f-style {
  display: inline-flex;
  width: 70px;
  height: 35px;
  padding: 7px 9px;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  border-radius: 17.5px;
  border: 1px solid var(--btn-stroke-cool-primary, #e5eaf1);
  background: var(--btn-fill-white, #fff);
  gap: 8px;

  color: var(--txt-fill-cool-primary, #444447);

  /* kr/title/14/regular */
  font-family: 'Noto Sans KR';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.f-style.active {
  background: var(--ic-fill-warm-primary, #444447);
  color: var(--txt-fill-white, #fff);
}
