.search-bar {
  display: flex;
  align-items: center;
  width: 289px;
  height: 48px;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}

.search-bar .icon-left,
.search-bar .icon-right {
  width: 24px;
  height: 24px;
}

.search-bar-title {
  flex: 1;

  /* 아이콘 패딩 */
  padding-left: 4px;
  padding-right: 4px;

  /* kr/title/16/regular */
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  /*텍스트 넘어갈 때 처리 */
  white-space: nowrap;
  overflow: hidden;
}

/* active는 default, lead-only에만 적용 */
.default-style:active .search-bar-title,
.lead-only-style:active .search-bar-title {
  opacity: 0.2;
}

.default-style,
.edit-style {
  color: #cacaca;
}

.lead-only-style {
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  background: #ededed;

  color: #767676;
}

.edit-style {
  width: 375px;
  padding: 12px;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.edit-style .icon-left,
.edit-style .icon-right {
  width: 32px;
  height: 32px;
}
