@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}
